[2015-02-23 02:48] minhna opened #5 "Composer update got error"
Problem 1
    - Installation request for basvandorst/stravaphp 1.0.0 -> satisfiable by basvandorst/stravaphp[1.0.0].
    - basvandorst/stravaphp 1.0.0 requires league/oauth2-client dev-master -> no matching package found.

Could you fix that?
Thank you.

[2015-02-23 02:50] minhna commented on #5
If I change the version to `dev-master`, still got the error:

  Problem 1
    - Installation request for basvandorst/stravaphp dev-master -> satisfiable by basvandorst/stravaphp[dev-master]
.
    - basvandorst/stravaphp dev-master requires league/oauth2-client master -> no matching package found.

[2015-02-23 02:54] minhna commented on #5
I think, in the composer.json, you modify

[code]

to
[code]

it will solve the problem.

[2015-02-23 09:02] basvandorst commented on #5
@minhna thanks for your suggestion, but the name "league" was right. There was something wrong with the lock-in on the old dev-master. Please checkout the new master version or the 1.0.1 version

[2015-02-23 19:01] Bendihossan commented on #5
@basvandorst If that packagist namespace is correct then the README wants updating as it currently says to use ``basvandorst/stravaphp``: https://github.com/basvandorst/StravaPHP/blob/master/README.md#composer-package

PS. Thanks for the library!

[2015-02-23 19:15] Bendihossan commented on #5
Ignore my previous comment, I just got completely confused sorry.

[2015-02-25 01:48] minhna commented on #5
changed the version to 1.0.1 and it works.
Now I'm having an issue with `lib-curl`.

[2015-02-25 01:48] #5 closed

[2015-02-25 16:11] basvandorst commented on #5
It think that's a development environment issue. Make sure you've installed the curl extension.
Please search for curl install windows/linux howto's :)

[2015-06-19 06:09] nirmalthumber opened #6 "upload , delete , update activity problem"
**Upload Activity**
Getting error during upload activity like show in below screenshot

 ![image](https://cloud.githubusercontent.com/assets/12571525/8248024/5da169b8-168c-11e5-8683-632ddcf57263.png)

Here is the which i tried

     $actual_file = realpath('text.gpx');
     $file ='@'.$actual_file;
     $activity_type='ride';
     $data_type='gpx';
     $client->uploadActivity($file, $activity_typ

[2015-06-19 07:02] nirmalthumber commented on #6
title updated

[2015-06-19 07:59] basvandorst commented on #6
Looks like there is something changed on the Strava side, thanks for your suggestions.

'll try to fix it next week!

[2015-06-19 10:32] nirmalthumber commented on #6
Still didn't get the upload activity API call working .

[2015-06-24 12:56] roberto-butti commented on #5
I had the same issue.
In my case, to fix I made 2 steps: I added some packages in composer.json, I added curl extension in php.
In composer.json I added these lines in "require" sections:

    "basvandorst/StravaPHP": "1.0.0",
    "educoder/pest": "1.0.0",
    "league/oauth2-client": "dev-master"

In my Macosx environments with "port" I installed curl package:

    sudo port install php55-curl

Th

[2015-06-24 14:49] basvandorst commented on #5
@roberto-butti Please try "basvandorst/StravaPHP": "1.0.1".

[2015-06-24 16:46] roberto-butti commented on #5
@basvandorst thank you.
I confirm that with 1.0.1 version is not necessary to add educoder/pest and league/oauth2-client
Just add in your composer:

    "basvandorst/StravaPHP": "1.0.1"

Great work guys!!!

[2015-07-24 22:28] AntonCooper opened #8 "Incorrect parameter name for getSegmentEffort"
$parameters = array(
            'bounds' => $athlete_id,
            'start_date_local' => $start_date_local,
            'end_date_local' => $end_date_local,
            'page' => $page,
            'per_page' => $per_page
        );

Should be:

        $parameters = array(
            'athlete_id' => $athlete_id,
            'start_date_local' => $start_date_local,
            'end_date_local'

[2015-07-28 13:59] BosAtWork commented on #6
I have the same problem. I can't get the file upload working with a tpx file

[2015-08-17 13:35] johannschroeder commented on #6
Same here. Can't upload a file.

[2015-11-04 21:17] larrivee013 opened #10 "Get Totals and Stats"
Hi, I was just wondering if its me that does not see the method to get totals and stats as mentionned on here : https://strava.github.io/api/v3/athlete/#stats

If it's not currently implemented, do you have any intentions on adding it soon? I could very much use this!

Thanks for the awesome code!

L013

[2015-11-20 00:53] dsas commented on #8
This has been fixed by pull request 9 https://github.com/basvandorst/StravaPHP/pull/9

[2015-12-04 08:39] #10 closed

[2015-12-04 08:41] basvandorst commented on #8
Thanks @dsas!

@AntonCooper This piece of code is now in the master branch.
This weekend or next week I'm going to create and test the 1.1.0 branch.

[2015-12-04 08:41] #8 closed

[2016-01-23 20:46] RichieMcMullen commented on #6
Still not working :(

[2016-04-08 22:11] harhoo commented on #6
So - after a phenomenal amount of time trying to debug this issue:

- the filename needs to be preceded by @
- it looks like the trainer and private parameters need to be an integer 0/1 rather than null or false

Changing that and I've been able to upload a file using (say):

[code]

[2016-06-26 15:39] RichieMcMullen opened #14 "Getting Map via Polyline"
Having trouble displaying the map using the Polyline code retrieved from the activity object. Any ideas on how to display it (PHP or JS) ?

[2016-07-25 21:45] titleistfour opened #15 "Updated package dependencies"
Hello,

Is is possible to get the version requirement for "league/oauth2-client" updated to something more recent?  Currently they are on version 1.4.1 and this package requires 0.8.1.

Thanks,
Jay

[2016-07-29 07:18] Krevo opened #16 "The use statement with non-compound name 'Pest' has no effect"
In the README.md, the following line :

`use Pest;`

should be removed as it causes this warning :

 `PHP Warning:  The use statement with non-compound name 'Pest' has no effect`

[2016-08-28 08:42] qligier commented on #14
You can use the [Polyline Encoder](Polyline Encoder) library to decode the Polyline field. It returns the coordinates of each points.

[2016-08-28 08:50] qligier opened #17 "Streams resolution parameter default value"
Hey,
The default value of the `resolution` parameter in the streams function is set to `all`:
[code]
[The documentation](http://strava.github.io/api/v3/streams/) isn't quite clear on this, but `all` isn't a valid value:
[code]
returns
[code]

As I understand it:
If you don't specify the parameter, all points are returned.
If you specify it (with `low`, `medium` or `high`), only (100/1000/10000) va

[2016-08-29 01:30] adriangibbons commented on #14
Hi @qligier, the URL in your post doesn't go anywhere. I think you mean [Polyline Encoder](https://github.com/dyaaj/polyline-encoder), which I have used and is excellent.

Btw, [PHP-Geometry](https://github.com/gregallensworth/PHP-Geometry) contains a nice implementation of the Ramer–Douglas–Peucker algorithm. This gives you a very similar looking line from far fewer points.

Instead of decoding t

[2016-08-29 01:41] adriangibbons commented on #14
@RichTT a couple of issues I have bumped into with encoded polylines:

1. If you pass the encoded polyline as part of browser URL, remember that you should [limit the overall URL length to 2,000 characters](http://stackoverflow.com/questions/417142/what-is-the-maximum-length-of-a-url-in-different-browsers) - this can be an issue for encoded polylines that represent thousands of lat-lngs.

2. Escap

[2016-08-29 06:57] qligier commented on #14
Yes, sorry for the link. I only knew the older [google-map-polyline-encoding-tool](https://github.com/emcconville/google-map-polyline-encoding-tool) and I've changed it just before sending the message.
The Leaflet.encoded plugin seems a very good alternative.

[2016-09-07 05:21] fbonzon commented on #17
I confirm. To mean "all" the `resolution` should be left empty. I.e. replace everywhere `'all'` by the empty string `''`.

[2016-09-07 07:59] qligier commented on #17
Setting the parameter to null also works, that's what I've done to [patch this issue](https://github.com/qligier/StravaPHP/commit/5c72d615d33ef3191c7a76551132c7291795f4df) in my local repository.

[2016-09-07 23:54] fbonzon commented on #17
Correct, `null` works too.

Could you change the 3 occurrences of `'all'` to `null` in those 3 files too in your fork:
src/Strava/API/Service/REST.php
src/Strava/API/Service/ServiceInterface.php
src/Strava/API/Service/Stub.php
and send a PR here?

[2016-09-08 18:32] qligier commented on #17
Done. The code works but it isn't passing the tests because of the new versions of dependencies. I'll fix that later.

[2016-09-19 13:03] basvandorst commented on #15
Fixed in 1.0.2. Thanks to @qligier

[2016-09-19 13:03] #15 closed

[2016-09-19 13:03] basvandorst commented on #17
Fixed in 1.0.2. Thanks to @qligier

[2016-09-19 13:03] #17 closed

[2016-09-19 13:04] basvandorst commented on #16
Fixed in 1.0.2. Thanks to @qligier

[2016-09-19 13:04] #16 closed

[2016-09-19 13:06] basvandorst commented on #6
Fixed in 1.0.2. Thanks @harhoo for the fix, and @qligier for the pull request.

[2016-09-19 13:06] #6 closed

[2016-09-27 18:39] fbonzon opened #21 "OAuth code upgrade is incomplete"
#18 recently upgraded dependency [league/oauth2-client](https://github.com/thephpleague/oauth2-client) from 0.8.1 to 1.4.2. That old version was an alpha one, and the abstract methods to implement changed in the final release 1.0.

Specifically, `getUser*()` methods were [removed](https://github.com/thephpleague/oauth2-client/commit/9284fdf) on 9 May 2015, and some of the new ones are left unimple

[2016-09-27 19:00] qligier commented on #21
Yep, really messy :yum:
Replacing [league/oauth2-client](/thephpleague/oauth2-client) with [edwin-luijten/oauth2-strava](/Edwin-Luijten/oauth2-strava) is imho the best solution.

[2016-10-05 13:54] titleistfour commented on #15
Thank you

[2017-01-06 00:09] ghost opened #23 "Uploading gpx file"
actual_file = realpath('Giro_mattutino.gpx');
 $file ='@'.$actual_file;
 $client->uploadActivity($file, 'ride', 'Morning Ride', 'A test', 0, 1, 'gpx');

I'm using this code to upload the file but it doesn't seem to work.. Any help?

[2017-01-09 16:17] fbonzon commented on #21
Agree with @qligier. In my fork of this project, I did use [edwin-luijten/oauth2-strava](https://github.com/Edwin-Luijten/oauth2-strava) instead of the local implementation here. It's been running successfully in production for a few weeks already. I'm happy to make a PR, once earlier #22 is approved.

[2017-03-24 14:01] harhoo commented on #23
I think this is possibly broken under PHP 5.6 and greater.

Basically, for Curl to upload files now, you need to use curl_file_create (or new CurlFile). However, Pest doesn't recognise this as multipart, so ends up up running http_build_query on the data.

So this works for me:

$path = realpath('file.tcx');
$path = new \CurlFile($path, null, basename($path));
return $client->uploadActivity($path,

[2017-04-24 11:29] Ramon1987 opened #26 "Full Leaderboards"
Hi,

- is it possible to show more than 10 people on a leaderboard of a segment?
- Is it possible to show a leaderboard without the athlete en the -2 and +2 atheletes who is connected?

Keep up the good work!

[2017-10-12 07:58] hamazaspavetisyan opened #30 "Routes and Route streams support"
Please add support for getting routes and route streams.

GET https://www.strava.com/api/v3/routes/:route_id
GET https://www.strava.com/api/v3/routes/:id/streams
GET https://www.strava.com/api/v3/athletes/:id/routes

[2017-10-21 15:41] basvandorst commented on #30
Introduced 3 new methods:
[code]

Currently only available in master but I will create a new tag this week.

[2017-10-21 15:41] #30 closed

[2017-10-21 15:46] basvandorst commented on #26
Yes, it possible to show more than 10 people. Use the` $per_page` parameter.

No, as far as I know this isn't possible with the [segment endpoint](https://strava.github.io/api/v3/segments/#leaderboard) of the Strava API

[2017-10-21 15:46] #26 closed

[2017-10-21 18:34] hamazaspavetisyan commented on #30
Thanks

On Sat, Oct 21, 2017 at 7:41 PM, Bas <notifications@github.com> wrote:

[2017-11-01 13:41] m7vm7v opened #37 "Null is returned when I try to get athlete or the activities"
Hi everyone,

Many thanks for your time spending in this issue.
I am following all the steps and and I do receive a proper respond from strava and I do have the user_token, strava_user_id so all the credentials are fine. And after I check the user in Strava I do see my new application in My Apps. I have 2 old activities and 1 from today.

But I receive null when I
`$adapter = new Pest('https://www

[2018-01-31 15:12] paullb514 opened #39 "getStreamsRoute returns null."
I'm not sure if this is an issue with the library or Strava but the getStreamsRoute is returning null. Doing some dumping, it appears as thought the URL being called is returning a 301 even though it is correct according to the Strava documentation.  (I confirmed the ID being called was valid via the Strava website)

[2018-02-01 20:41] fbonzon commented on #39
We need to check. Thanks for reporting.

[2018-02-13 21:07] uniquexor opened #40 "Throws deprecated warning on php 7.1"
mcrypt has been deprecated since php 7.1 and this package throws a warning when trying to call OAuth::getAuthorizationUrl method. As I can see this method is defined in one of the dependencies, so it probably will not be a quick fix?.. :/

[2018-02-14 14:28] paullb514 commented on #39
Culprit was a trailing slash. Added fix in Pull request #41

[2018-02-14 14:34] fbonzon commented on #40
We should then upgrade the dependencies. Will take a look.

[2018-02-14 14:50] #39 closed

[2018-06-15 13:52] vredeling commented on #40
This should no longer be a problem in league/oauth2-client  >= 2.0.

[2018-06-21 21:30] vredeling commented on #23
I completely agree about replacing pest with guzzle. Deserves a new issue # I think.

[2018-06-22 10:33] vredeling opened #43 "Replace PEST library with Guzzle"
The educoder/pest library seems abandoned, has not been updated for 4 years now and is only compatible with older php versions (5.5 and lower). The guzzlehttp/guzzle library is a widely used REST client that is pretty current. Seems like a good replacement.

Info:

- https://github.com/guzzle/guzzle
- http://docs.guzzlephp.org/en/stable/

[2018-06-22 10:33] vredeling commented on #23
Voila: #43

[2018-06-22 12:47] vredeling commented on #43
I did some preliminary work in commit 42362dcb068ac1153335b006fc59d8d03c7f89df

[2018-06-26 01:00] vredeling commented on #43
#42 contains a basically functional version of the Guzzle based REST client. When testing please note that base uris now need a trailing slash

[2018-07-21 19:41] vredeling commented on #43
done

[2018-07-21 19:41] #43 closed

[2018-07-21 19:42] vredeling commented on #21
Adding the Strava provider from edwin-luijten/oauth2-strava sounds like a good idea.

[2018-07-21 19:44] vredeling commented on #23
#43 is done. We'll have to check if file uploads work as expected. @harhoo could you try this?

[2018-07-21 19:45] vredeling commented on #40
Fixed

[2018-09-22 13:06] maltehuebner commented on #37
I submitted a quick fix in #45.

[2018-10-17 19:28] BartJansseune opened #47 "base_uri"
$adapter = new \GuzzleHttp\Client(['base_uri' => 'https://www.strava.com/api/v3']);
should be with trailing /:
$adapter = new \GuzzleHttp\Client(['base_uri' => 'https://www.strava.com/api/v3/']);

[2018-10-21 12:56] GMX9 commented on #47
Yes , this fixed an issue for me, this will always return 404 error if does not take BartJansseune fix

[2018-10-22 11:08] iDontWantAUsername opened #49 "Exceptions with Guzzle"
Hi,

i know this perhaps isn't the right place but is anyone having issues handling exceptions since the update to use Guzzle?

This is my example code:

[code]

This returns:

I have tried loads of combinations of ClientException and Exception in different namespaces but do not get an exception thrown, as far as i can tell i am copying the readme examples. Does anyone have an idea what is have do

[2018-10-22 22:14] bwardy commented on #49
I also have the same issue.

[2018-10-23 05:32] bwardy commented on #49
@iDontWantAUsername  I found that I could get the getAthlete() function working.
Change the line:
` $service = new REST($token, $adapter);`
to:
` $service = new REST($token->getToken(), $adapter);`

I'm still trying to figure out how to get the getAthleteActivities() function working now.

[2018-10-23 05:36] iDontWantAUsername commented on #49
Thanks @bwardy , i should have been a bit clearer, if i put in a valid Token the request does work as expected.

My issue is that if i am not authorised i should get an  exception from Guzzle that i can handle and return the correct message.

I am not getting the handled exceptions i used to get prior to Guzzle. I should be able to use the Exceptions rather than having to run a string comparison o

[2018-10-23 05:40] bwardy commented on #49
@iDontWantAUsername well... I'm out. I'm VERY new to this. :)

[2018-12-13 13:17] maltehuebner commented on #49
Looks like this issue is releated to #45. I fixed the problem other there, unfortunately the fix was not accepted.

[2019-01-02 12:49] lasdou commented on #47
Me too ! exemples must be updated or code have changed.

[2019-01-04 12:46] vredeling commented on #49
The Guzzle update was quite comprehensive. Also, from 15 jan 2018 onwards there is a change in the authentication process. https://developers.strava.com/docs/oauth-updates/
So I'll try and contact @basvandorst to run over the new issues. To get these hickups ironed out.

[2019-01-04 12:49] vredeling commented on #47
see #44 and #48

[2019-01-14 12:48] vredeling commented on #37
This issue is no longer relevant since moving from Pest to GuzzleHTTP I believe. Also #45 and subsequent commits resolve NULL results.

This issue can be closed imho.

[2019-01-24 13:32] ivy47 opened #51 "Is there any way to deauthorize user?"
Is there any way to deauthorize user to revoke access to an athlete’s data? I need to remove the application from the athlete’s apps settings page. Is it implemented?

[2019-01-26 23:31] #40 closed

[2019-01-27 00:20] fbonzon opened #52 "Email is no longer available from Strava"
From the official [Strava V3 API Changelog](https://developers.strava.com/docs/changelog/):

We need to deprecate and eventually remove the functions returning an athlete's email.

[2019-02-06 22:05] vredeling commented on #52
Yes, this is quite important. My Drupal client using this library is not working at the moment. Also we need to update the way we fetch and refresh authentication tokens. see: https://developers.strava.com/docs/oauth-updates/

[2019-02-06 22:11] vredeling commented on #51
This should POST the access_token to https://www.strava.com/oauth/deauthorize

I can't find the endpoint in the codebase so I guess it's not implemented.

[2019-03-15 17:15] MAsifOfficial commented on #52
Is there any update on this?

[2019-03-15 17:17] martynwheeler commented on #52
Does this still use forever tokens?

[2019-03-16 07:30] MAsifOfficial commented on #52
Umm.. I've to integrate strava into a client's web app and it's my first time doing so. I'm just trying to wrap my head around this stuff, therefore not really sure about it.

[2019-03-21 12:24] vredeling commented on #52
yes, it still uses permanent tokens.

[2019-03-21 18:38] martynwheeler commented on #52
Is it going to be a difficult job to move to the new system? I am not sure I fully understand the documentation.

[2019-04-02 10:58] bymayo commented on #52
The easiest way to get the n `Refresh Tokens` is to use the new scope rules. Using old scope rules only brings back 'Forever Tokens'.

So instead of the old scopes:

[code]

Use the new scopes:

[code]

Then using the `getAccessToken` method like in the docs:

[code]

This then gets a refresh token back and check if it's expired etc:

`$token->getRefreshToken()`

or

`$token->getExpires()`

🎉

[2019-04-02 11:42] martynwheeler commented on #52
Thank you, I (think) that I am already doing this.  But i see no documentation for getRefreshToken()???  Here is my code:
`
/**
     * @Route("/", name="homepage")
     */
    public function index(Request $request, StravaAPI $strava_api, RideData $rd)
    {
        //if code is set then grab and store
        if ($request->query->get('code')) {
            //'code' is set then grab the Strava tok

[2019-04-02 12:36] bymayo commented on #52
@martynwheeler This plugin uses the oAuth Client dependency so you can use pretty much all methods from there:

https://github.com/thephpleague/oauth2-client/

[2019-04-09 06:54] martynwheeler commented on #52
Would it be a good idea to incorporate https://github.com/Edwin-Luijten/oauth2-strava into the code?

[2019-04-11 15:36] bymayo commented on #52
@martynwheeler You could probably use that instead, but then you don't get the methods to grab data easily. I've had no issues using this StravaPHP though once you just use the oAuth methods.

[2019-05-07 18:10] sharadrsoni opened #53 "how to get data that is returned from Strava API by using createActivity method"

[2019-06-25 00:25] rjbathgate opened #57 "Refresh Tokens Update"
Hey

Am I right in thinking that the current code base doesn't support the Refresh Tokens Update, Strava announced a while back?

https://developers.strava.com/docs/oauth-updates/?utm_source=strava&utm_medium=mktgemail&utm_campaign=2018_10_15_API_update

From Oct 15th, the current "forever tokens" will be rejected, and they are moving to short lived refresh tokens.

Unless I'm not looking in the r

[2019-06-25 01:33] rjbathgate commented on #57
This can be duly ignored; as I see it's all supported in the OAuth library. Sorry, should have looked properly first :-)

[2019-06-25 01:33] #57 closed

[2019-07-29 18:40] Thomasvdw opened #58 "Integration with Laravel project"
Dear Bas,

I am a learning developer and want to integrate your StravaPHP into my project. I can not find a lot of documentation on the installation process. Can you help me get started?

Thanks in advance,

Houdoe,

Thomas

[2019-07-29 18:43] #58 closed

[2019-10-16 13:50] kartoone opened #59 "Handling Strava's conversion to oauth2"
There was another issue related to email that also was related to this same issue. I'm breaking it out into a separate issue. Forever tokens are gone as of yesterday (october 15th 2019). You must store a refreshtoken alongside a limited time (usually just a few hours) access token. The refreshtoken has no expiration, as it is the one that needs to be used to obtain the next access token.

Here is

[2019-10-25 23:23] paullb514 commented on #59
This didn't work for me, I get a bad request error back from Strava.

{"message":"Bad Request","errors":[{"resource":"Authorize","field":"scope","code":"invalid"}]}

[2019-10-26 00:35] iDontWantAUsername commented on #59
Have you checked that you have updated your scopes to conform with the definition changes: https://developers.strava.com/docs/oauth-updates/

[2019-10-26 01:08] paullb514 commented on #59
As this library seems to be abandoned, I'm migrating to https://github.com/iamstuartwilson/strava

[2019-11-05 12:13] nufrankz commented on #59
Out-of-the-box usage and I get the same.

[2019-11-05 12:52] kartoone commented on #59
Make sure you are using the same scope I used in my code ... you cannot use the old scopes such as "write". Mine uses ones of the newer scopes 'activity:read_all' in the code sample I gave above. The error message indicates you are using an incorrect scope.

[2019-11-05 12:56] kartoone commented on #59
Also, this is not for obtaining the initial access token ... that is completely different code. This is only for refreshing an access token using a refresh token. Your error message says "authorize" so it looks like you are trying to use this to obtain the initial access token. Use this code instead for that:

$options = array(
                'clientId' => CLIENT ID AS INTEGER,
                'c

[2019-11-05 12:59] kartoone commented on #59
Also, that's a separate bug either in my code snipped above or the library, but I had to go into the basvandorst library and change the default scopes from "write" to "activity:read_all". It seems to be ignoring my scopes array. Maybe that is supposed to be singular? I didn't have the time to debug it completely since going in and changing the defaults in the underlying OAuth.php file buried in ba

[2019-11-05 15:14] nufrankz commented on #59
Fixed with scopes according to [docs](https://developers.strava.com/docs/authentication/#detailsaboutrequestingaccess).
But seems methods to receive data in callbacks are outdated (receiving multiple 404 errors `GET https://www.strava.com/api/athlete` and undefined $token).
About undefined $token: reviewed GuzzleHttp docs, nothing about implementing $token.
Searching other options ATM. Thank you.

[2019-11-11 19:18] brice81 commented on #57
Hello,

could you explain how you solved this issue ?

The code in the readme does not work anymore, and I did not found how to correct it.

Regards,
Brice

[2019-12-20 15:02] paha77 opened #60 "Is this repo still maintained?"
I was wondering if the repo is still maintained or already abadoned?

[2019-12-30 13:09] vredeling commented on #60
It feels quite abandoned, despite the occasional reply from @fbonzon

[2020-04-25 18:14] djjavo commented on #49
I might be a bit late to the party here, but also experiencing similar issues to @iDontWantAUsername.

Would changing the catch block in https://github.com/basvandorst/StravaPHP/blob/master/src/Strava/API/Service/REST.php be beneficial?
https://github.com/basvandorst/StravaPHP/blob/5b2b2a9246434273e5a7b8e9d0333765e0fcafbf/src/Strava/API/Service/REST.php#L71-L80
As opposed to returning `$e->getMess

[2020-06-15 20:45] vredeling commented on #60
Since it has been completely quiet here I promoted my fork to a full project and merged some PRs there. See: https://github.com/vredeling/StravaPHP and https://packagist.org/packages/vredeling/stravaphp

[2020-06-16 09:56] vredeling commented on #49
@djjavo Yes, that would be useful. But requires a bit of a refactor of all the getResponse() calls.
Could you supply a pull request on the develop branch of my fork? https://github.com/vredeling/StravaPHP/pulls

[2020-06-16 14:45] basvandorst commented on #60
Sorry.. sorry.. guys, I wasn't active on Github for the last years!

@vredeling I'm not sure if a promoted fork / new repo is the best solution for abandoned projects. I have gave you admin access to this repo, so feel free to merge/change/fix/bump versions on this repo.

FYI: @fbonzon has already have full admin access to the repo for a while.

[2020-06-16 15:52] vredeling commented on #60
@basvandorst Thanks for the invite. I'll do some general house-keeping and port my updates to this repo. And unpublish the fork and packagist repo.

@fbonzon has been occupied with other stuff too I guess. So it's been awfully quiet.

[2020-06-16 15:52] #60 closed

[2020-06-16 15:58] basvandorst commented on #60
Cool @vredeling!

Thanks for all your effort and feel free to add your name to the
contributors list!

Op di 16 jun. 2020 17:52 schreef Bas Vredeling <notifications@github.com>:

[2020-06-16 16:00] fbonzon commented on #60
Hi @paha77, hi @vredeling,

Thanks for your contributions to the PHP Strava API. It's great to see a community growing around it. Sorry for my silence. As you correctly guessed, I unfortunately wasn't able to dedicate time for it.

[2020-06-16 21:27] vredeling commented on #49
@djjavo I'm closing this issue. If you want the `$e->getMessage()` issue addressed, please open a separate issue or PR.

[2020-06-16 21:27] #49 closed

[2020-06-16 22:49] vredeling commented on #47
This issue has been resolved in the latest release (^1.3.1)

[2020-06-16 22:49] #47 closed

[2020-06-16 22:57] #37 closed

[2020-06-16 23:04] vredeling commented on #53
This was addressed in #54 and has been fixed since release 1.3.1

[2020-06-16 23:04] #53 closed

[2020-06-16 23:05] vredeling commented on #23
Outdated, closing

[2020-06-16 23:05] #23 closed

[2020-07-09 21:05] pjoulot opened #63 "getAthleteActivities is buggy when using parameters"
Hello,

I don't really know what is happening but there is a problem when passing parameters.

If passing parameters, the method starts filtering results that it shouldn't.

I checked my parameters and tried the request manually into my browser with those parameters and it works fine so the problem is not from the Starva side, the filter works nice.

But when using the function:
getAthleteActiviti

[2020-07-09 21:50] #63 closed

[2020-08-18 19:03] notflip opened #65 "getResponse doesn't throw, it already catches"
Since this method in **Rest.php** catches and returns the error,
the try/catch in the method in Client.php doesn't work
[code]

**Client.php**
[code]
### Idea
Would it be an idea to rethrow (or remove the try/catch block in getResponse()
instead of returning `$e->getMessage()`?

[2020-08-18 19:16] notflip commented on #49
Ah this is related to my issue: #65
I'm willing to spend time to make a PR but I'm not sure as to what has to happen, should we remove the try catch block in getResponse?

[2020-08-31 13:51] vredeling commented on #49
@notflip Yes, that would be the idea. I'll review the PR if you supply one.

I'm a bit concerned we're breaking current implementations of the this class again by making a change like this. But it makes a lot of sense to re-throw and have implementations catch the error instead of the message. Or we define a global config variable which sets the response output to text by default. You could change

[2020-08-31 13:52] vredeling commented on #65
See my response in https://github.com/basvandorst/StravaPHP/issues/49#issuecomment-683791855

[2020-12-24 10:17] djjavo opened #66 "PHPUnit tests fail when running locally"
Hi,

Not sure if this is the correct place to raise this, but I am running PHPUnit on master and getting failures on the following tests:

https://github.com/basvandorst/StravaPHP/blob/b30ce2d6c4383a34ebb521b1b27198a390f700ba/tests/Strava/API/Service/RESTTest.php#L502-L512

https://github.com/basvandorst/StravaPHP/blob/b30ce2d6c4383a34ebb521b1b27198a390f700ba/tests/Strava/API/Service/RESTTest.php#

[2020-12-24 12:10] djjavo commented on #49
@vredeling I've suggested a non-breaking change for users of `StravaPHP` that require extra information in the response.

[2020-12-24 14:28] djjavo commented on #66
Looks like the tests were flakey, and the code they were testing was wrong. Have submitted a fix for both in https://github.com/basvandorst/StravaPHP/pull/68

[2021-01-05 08:39] vredeling commented on #66
Thanks for the patch, I've merged it last night.

[2021-01-05 08:39] #66 closed

[2021-01-06 18:37] djjavo opened #69 "Laravel 8 incompatibility"
Laravel 8 requires the dependency of Guzzle `^7.0.1`, which conflicts with the version used in StravaPHP (Guzzle `~6.3`).
Could we please look into upgrading this, they have a guide here https://github.com/guzzle/guzzle/blob/7.0.0/UPGRADING.md#60-to-70.

[2021-01-08 13:48] vredeling commented on #69
This will need to happen eventually anyway. So yes, let's do a quick scan of the outdated code so we have a sense of the scope. Looks quite involved at first glance.

[2021-01-09 17:55] djjavo commented on #69
It seems like the diff from 6.x to 7 looks large, but the actual changes to the implementation will be small

[2021-01-09 18:18] djjavo commented on #69
The only issue I am seeing so far is on the `getRouteAsGPX` and `getRouteAsTCX` methods as `request()` should now return a `ResponseInterface`, whereas these apparently return a `String`.

[2021-01-10 20:39] vredeling commented on #69
I'm using this library with Drupal exclusively and Drupal core 8 and 9 are using Guzzle 6. The upgrade to Guzzle 7 is [postponed to Drupal 10](https://www.drupal.org/project/drupal/issues/3104353). That will be released somewhere in the second half of 2022.
So for now I propose we use a different version number for tagging the Guzzle 7 version.

[2021-01-10 20:51] vredeling commented on #49
@notflip since this PR #67 has been merged to the latest dev version, it is possible to check the response codes.
Just instantiate the REST client like so:
`$service = new REST($token->getToken(), $adapter, 1);`
That will give you access to the response headers, body and status codes.

[2021-01-10 21:02] vredeling commented on #65
@notflip I've changed the getResponse method to rethrow an exception. See c5d432ef3d3b937dae725a9b021101f14816b60f

[2021-01-10 21:02] #65 closed

[2021-01-11 08:33] notflip commented on #65
Thanks @vredeling! Will try and test once I work on that project again

[2021-01-12 18:05] picasticks opened #71 "Can you do a point release?"
Hi @vredeling, thanks for all the work on the library recently.

I just want to ask about your plans to do a version bump sometime soon, I have some code that depends on #64 and having a dependency on "dev-master" in my composer.json for so long is starting to give me unhappy feelings.

Thanks!

[2021-01-12 23:17] vredeling commented on #71
Here you go: https://github.com/basvandorst/StravaPHP/releases/tag/1.5.0

[2021-01-13 08:12] djjavo commented on #71
Does the new release need to be manually submitted to￼ https://packagist.org/packages/basvandorst/stravaphp?

[2021-01-13 09:47] vredeling commented on #71
will have a look later today @djjavo @picasticks

[2021-01-13 10:52] vredeling commented on #71
I manually updated the packagist package... was no longer being updated automatically, perhaps due to inactivity. will check at next release.

[2021-01-13 10:52] #71 closed

[2021-01-13 16:12] picasticks commented on #71
Awesome, thanks!

[2021-01-23 02:55] #14 closed

[2021-02-14 00:07] vredeling commented on #69
@djjavo I've created a separate guzzle7 branch and updated packagist. You can require `basvandorst/stravaphp:^dev-guzzle` https://packagist.org/packages/basvandorst/stravaphp#dev-guzzle7
Hope that will suffice for now.

[2021-02-14 00:07] #69 closed

[2021-03-25 03:49] dineshnbhatia opened #73 "Where is autoload.php"
Every code shows to include "vendor/autoload.php"
is it missing in the library?

[2021-03-25 08:09] vredeling commented on #73
It is generated when you run composer install.

[2021-03-25 08:11] #73 closed

[2021-03-27 12:13] dineshnbhatia commented on #73
Thanks, @vredeling I have never used a composer. Anyway going through it found this site https://getcomposer.org will learn and implement it on my website. Let me know if any documentation or tutorial will help. Thanks again.

[2021-05-24 22:25] vredeling commented on #69
@djjavo The Drupal upgrade path came earlier than expected. So I'm going to merge this into a 2.x release when I finally get around to fixing #21.

[2021-06-01 04:59] #21 closed

[2021-08-29 14:43] patricktann opened #74 "Upload gpx file failed"
`$client->uploadActivity(
            '/var/www/466928184.gpx,
            'ride',
            null,
            null,
            null,
            null,
            null,
            'gpx',
            466928184
        );`

failed with the following error:

`[SERVICE] [SERVICE] Client error: POST https://www.strava.com/api/v3/uploads?activity_type=ride&data_type=gpx&external_id=466928184&file%5

[2021-09-03 08:20] patricktann commented on #74
Solution in funtion uploadActivity in src/Strava/API/Service/REST.php:

`public function uploadActivity($file, $activity_type = null, $name = null, $description = null, $private = null, $trainer = null, $commute = null, $data_type = null, $external_id = null) {
    $path = 'uploads';
    $parameters['query'] = [
        'activity_type' => $activity_type,
        'name' => $name,
        'descripti

[2021-09-03 08:20] #74 closed

[2021-11-03 15:31] mocniak opened #75 "Wrong scopes in README.md code examples"
Hi guys.

Maybe I'm missing something, but example code in README.md doesn't work because of the wrong scope names:

[code]

The right ones are `read, read_all, profile:read_all, profile:write, activity:read, activity:read_all, activity:write` as in https://developers.strava.com/docs/authentication/#detailsaboutrequestingaccess and replacing them in the example code fixed the bad request error I w

[2021-11-04 22:46] vredeling commented on #75
@mocniak thanks for noticing... Readme is now updated.

[2021-11-04 22:46] #75 closed

[2022-04-19 13:06] MGatner opened #77 "Library Compatibility"
Hi maintainers! I'm working with a client who needs Strava integrations - excited to see that someone has already wrapped this up into an SDK. There are a few incompatibilities (Guzzle being a big one, I see there has been some work on that). I will send a few PRs over to get this up-to-speed, then maybe some recommendations for a next major release that would have a lot of QOL improvements for PH

[2022-04-19 13:31] MGatner commented on #77
Updating unit tests, #78

[2022-04-19 23:28] MGatner commented on #77
Guzzle 7 compatibility, #79

[2022-04-20 00:36] MGatner opened #80 "GitHub Link Broken"
The link associated with this repo is broken, "Server error": http://documentup.com/basvandorst/StravaPHP

[2022-04-20 12:44] vredeling commented on #80
Changed it to https://github.com/basvandorst/StravaPHP
Seems a bit redundant, but at least it works. The documentation at the previous link seems to be removed completely.

@basvandorst Do you know why?

[2022-04-20 23:21] MGatner commented on #77
@djjavo @vredeling Since we're almost over the basics of compatibility... what are your thoughts on next steps for this library? A couple of ideas I would be interested in:
1. Drop unsupported versions of PHP (< 7.4). This would allow the next major version to add a bunch of new PHP features (most notably: property types)
2. Implement entities. Instead of returning everything as an array of data,

[2022-04-20 23:33] MGatner commented on #77
One last addendum while I'm here... I'm not a total Git Flow fan but I do like some of their structure - the biggest one being using a `develop` branch for your primary development and retaining `master` for releases. If you're amenable I would love to work with you on that.

[2022-04-21 00:18] MGatner opened #81 "Scrutinizer"
The Scrutinizer badges are either not working or not updated. I'm not familiar with this tool - if it is something you're still using I will peek at it. Otherwise I am happy to replace them with GitHub Action badges for the new workflows.

[2022-04-21 12:41] vredeling commented on #77
I'm not ready to drop php7 support just yet on the existing branches, as I don't know what systems the current users of this lib are working on. But I'm quite kind to make the jump to 8 myself.
With regards to git flow, I'm totally on board with using that. And for its shortcomings, at least it is a well known standard.

[2022-04-21 12:42] MGatner commented on #77
PHP 7.4 has security support through December. I'm proposing `^7.4 || ^8.0`

[2022-04-21 14:39] vredeling commented on #81
Merged PR #82 and set the coveralls.io account up as well. Will have a look at that workflow later, as it is failing right now.

[2022-04-21 14:48] vredeling commented on #77
Hey guess what... I don't have sufficient permissions to change some essentials like the default branch. Contacting @basvandorst about that.

[2022-04-21 14:59] vredeling commented on #80
Need to change the link in the main repo, not just in my fork 😵‍💫

[2022-04-21 16:06] vredeling commented on #81
fixed, with the caveat that we need to update the readme when switching the default branch to develop.

[2022-04-21 23:03] MGatner commented on #77
@vredeling when do you think we could get a new release of the work so far? The Guzzle 7 piece is still blocking most current PHP version.

[2022-04-22 12:48] vredeling commented on #77
@MGatner https://github.com/basvandorst/StravaPHP/releases/tag/2.0.0

If any older version requires a support branch we can do so manually. I'm not expecting  many requests to that end, honestly.

[2022-04-22 12:48] #77 closed

[2022-04-23 18:29] MGatner opened #87 "Setup Packagist for automatic updates"
Packagist is not set up for autoupdates so version 2 has not actually posted. Please turn on autoupdating (preferred) or at least force an update manually.

[2022-04-23 18:59] djjavo commented on #87
@MGatner semi-related to versioning, I'd like to propose using semantic-release for this project. If you haven't used this before, it enforces specific commit messages and automates the creation of tags and releases on GitHub.

[2022-04-23 20:33] vredeling commented on #87
I've manually updated the package just now. I'll change the ticket to set it up for auto-updates. But I'll have to do that later. Hope this helps you guys for now.

[2022-04-23 21:17] MGatner commented on #87
@vredeling looks good, thank you!

@djjavo in my opinion semantic release is a big ask for random internet contributors. It works well with a team working on a closed project, but fi you're ever hoping to get contributions from occasional visitors then it breaks down. If you all decide to go that way I will gladly comply, just my two cents.

An alternative, GitHub's new "auto-generate release note

[2022-04-25 09:02] vredeling commented on #87
I can't set up auto-updating as I'm not the owner of this project. @basvandorst can you please set it up?
https://packagist.org/about#how-to-update-packages

[2022-04-25 09:27] vredeling commented on #87
Regarding the release notes: I've added a stub release.yml in e4f65a48bc1c00b27481ae972ce3d55a38c46dc8

[2022-04-25 11:46] basvandorst commented on #80
According to this issue the project is not under active development anymore (+ he confirmed that the project itself is offline): https://github.com/jeromegn/DocumentUp/issues/113

Removed the associated link

[2022-04-25 11:46] #80 closed

[2022-04-25 12:00] basvandorst commented on #87
Fixed.

Really nice to see that you guys will bring this package to a next level, great job @vredeling @MGatner, really appreciate it!

[2022-04-25 12:00] #87 closed, assigned to basvandorst

[2022-04-25 12:25] MGatner commented on #87
@basvandorst May I petition you to elevate privileges for @vredeling in the interest of expediting future development of this library?

[2022-04-25 12:54] MGatner commented on #59
@vredeling Can you provide a summary of what the outstanding issue is? Perusing this thread I haven't had any of the same problems in `v2` so far.

[2022-04-25 12:55] MGatner commented on #52
@vredeling Can you provide a summary of what the outstanding issue is? Perusing this thread I haven't had any of the same problems in `v2` so far.

[2022-04-26 09:06] basvandorst commented on #87
@MGatner: @vredeling already has the "admin"-permissions of this repo...

To give someone 100% permissions of this repo we should consider the following options:
1. Handover this project to another (personal) repo.
2. Create an organisation and move this project to the organisation
3. ... or leave it as is and let me know when you need specific permissions.

[2022-04-26 10:58] MGatner commented on #87
It sounds like permissions are already in a good spot, these recent changes were just exceptions. That said I am always a fan of using an organization, because you never know when someone will become unavailable. That is largely up to you though, as the owner, and the other maintainers if they are willing to accept more responsibility.

For me I am happy to help as long as my client needs the Stra

[2022-04-26 20:12] vredeling commented on #52
@MGatner

This means that if you have an app that links the account of the app to your Strava profile based on the email-address, you need to rework that relationship. Basically, that means going over the codebase and remove references to email as a Athlete property and any derivatives thereof.

[2022-04-26 22:48] MGatner commented on #52
This doesn't appear to be an issue with the current library, as far as I can tell. No references to `email` anywhere. I have a hunch this won't apply to me at all, being a new user of the Strava API.

[2022-04-27 16:58] vredeling commented on #52
I do think there is a problem with emails, https://github.com/basvandorst/StravaPHP/blob/01531f10091ba70772d95b56899ff2e38b72b8a0/src/Strava/API/OAuth.php#L80 for instance refers to a parent method that doesn't exist. Anyhoo, I'll have to dive into this myself.

[2022-04-30 12:56] MGatner opened #89 "Webhook Subscriptions"
The project I am working on needs Webhook subscriptions. The API actually has CRUD endpoints for [push subscriptions](https://developers.strava.com/docs/webhooks/). Would this library be interested in having these added? They function a little different vis-a-vis authentication because they exist at the service level (not individual accounts).

[2022-05-21 20:35] vredeling commented on #89
Not sure, but if you need and supply it, I'll do a review. It won't be quick, but I'll check the work.

[2022-05-22 11:58] vredeling opened #90 "Fix tests after type hints"
The tests are broken because they now expect a return type and the mock service returns a json string. Also the mock data is incomplete.

[2022-07-02 03:25] #59 closed

[2022-07-02 03:25] #51 closed

[2022-07-05 03:22] #52 closed

[2022-07-29 03:33] #90 closed, assigned to vredeling

[2022-07-29 03:33] #89 closed, assigned to nobody

[2022-08-25 12:23] daankortenbach opened #91 "getSegmentLeaderboard not working"
[SERVICE] Client error: GET https://www.strava.com/api/v3/segments/4420112/leaderboard?access_token=addtokenhere resulted in a 403 Forbidden response:
{"message":"Forbidden","errors":[]}

Wasted much time on this only to find out this isn't supported at all by Strava since 2 years ago!
https://developers.strava.com/docs/segment-changes/

[2022-09-08 14:24] daankortenbach commented on #91
Hello?

[2022-09-09 09:26] MGatner commented on #91
Hi 👋

[2022-09-09 09:27] daankortenbach commented on #91
Is there any way around this? Assembling data to create a leaderboard?

[2022-09-10 11:32] MGatner commented on #91
That doc you linked has the new endpoints and requires permissions. I wouldn't expect this SDK to adapt to those (unless you want to submit a PR yourself).

[2022-11-18 03:00] #91 closed, assigned to nobody